SECRET_KEY="your-secret-key"
EMAIL_ADDRESS="your-email@gmail.com"
EMAIL_PASSWORD="your-app-password"

DB_USER="root"
DB_PASSWORD="your-password"
DB_HOST="localhost"
DB_NAME="shbshop"

TOSS_SECRET_KEY="your-toss-key"
NAVER_CLIENT_ID="your-client-id"
NAVER_CLIENT_SECRET="your-client-secret"